<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <title>
            BASIC
        </title>
    </head>
    
    <body>
      <div class="header">
        <a href="#" class="logo"><img src="nike-svgrepo-com.svg" alt=""> Ajr</a>
        <nav class="navbar">
            <a href="#About">About</a>
            <a href="#Skills">Skills</a>
            <a href="#Projects">Projects</a>
            <a href="#Contact">Contact</a>
        </nav>
    </div>
        <div id="Home" class="main">
          <h1>Anas Abdul Kalam</h1>
          <p>A Software Developer</p>
          <div class="logo">
            <a href="https://www.instagram.com/a__s_.10">
                <img class="a2" src="static\icons8-instagram-48.png" alt="INSTAGRAM">
            </a>
            <a href="https://github.com/ajr-ran">
            <img class="a1" src="static\icons8-github-48.png" alt="GITHUB">
          </a>
          <a href="www.linkedin.com/in/anas-abdul-kalam-922690288          ">
            <img class="a3" src="static\icons8-linked-in-48.png" alt="LINKED IN">
          </a>
          </div>
        </div>


        <div id="About" class="abt">
            <h1>About</h1>
            <div class="i">
            <p>Hi! I am Anas, a software developer focused on creating great softwares.
                 Developing and Coding have been my passion since the days I started working with computers.
                 I enjoy creating and developing softwares. I dream of working at Google, working on applications billions of people use, 
                 having an impact on the world with my work. Sure enough, 
                 I know you receive hundreds of job applications for every single job opening,
                and I am not the only dreamer waiting for this chance..</p>
            <img src="static\vecteezy_isometric-style-illustration-about-a-web-programmer-working_6552084.jpg" alt="">
            </div>
        
          </div>
        <div id="Skills" class="skl">
        <h1>SKILLS</h1>
        <ul class="items">
            <li class="li1">
                PYTHON
            </li>
            <li class="li2">
                SQL
            </li>
            <li class="li3">
                JAVA
            </li>
            <li class="li4">
                C LANGUAGE
            </li>           
        </ul>
    </div>
    <div id="Projects" class="project">
        <h1>PROJECTS</h1>
        <div class="pit">
        <div class="card" style="width: 18rem;">
            <img src="static\desktop-design.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">QR CODE</h5>
              <p class="card-text">Scan to dop challeges on HTML and CSS</p>
              <a href="qr/qr.html" class="btn btn-primary">Scan Me</a>
            </div>
          </div>
          
          <div class="card" style="width: 18rem;">
            <img src="/static/illustration-article.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Explore</h5>
              <p class="card-text">To Lear About HTML & CSS Foundation</p>
              <a href="read.html" class="btn btn-primary">Click Here</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="image/desktop-design.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="qr.html" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="image/desktop-design.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="qr.html" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="image/desktop-design.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="qr.html" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div id="Contact" class="contact">
            <h1>CONTACT</h1>
            <div class="form">
              <form id="CONTACT" action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="b6cdfb8a-78d3-45b4-8700-4320cec21be9">
               
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">E-mail</label>
                  <input type="email" class="form-control" name="email" placeholder="E-mail Address">
                </div>
                
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Contact Number</label>
                  <input type="text" class="form-control" name="Contact" placeholder="Contact-No">
                </div>
                
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example Text Area</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" placeholder="Enter your message"></textarea>
                </div>
                
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-info" href="">SUBMIT</button>
              </div>
              </form>
        </div>
        
    </div>


    </body>
</html>



