<!DOCTYPE html>
<head>
  <title>
    READ
  </title>
  <link rel="stylesheet" href="/static/re.css">
</head>
<body>
  <div class="re">
    <div class="rei">
      <img src="/static/illustration-article.jpg" alt="Frontend Mentor">
    <div class="r">
      <a href="https://www.coursera.org/learn/duke-programming-web">
      <h3>To Know More</h3>
      </a>
    </div>
      <h2>HTML & CSS Foundation</h2>
      <p>These languages are the backbone of every website, defining stucture, content and presentation</p>
      <p class="p">Join Coursera To Learn More</p>
    </div>
  </div>
</body>